asgiref==3.8.1
certifi==2025.1.31
dj-database-url==2.3.0
Django==4.2.20
django-phonenumber-field==8.1.0
phonenumbers==9.0.3
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sentry-sdk==2.25.1
sqlparse==0.5.3
typing_extensions==4.13.2
urllib3==2.4.0
